.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e7e7e7;

  .web-side__banner {
    display: none;
    width: calc(1024px - 428px);
    height: 100%;
    background-color: antiquewhite;

    .web-side__banner__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .mobile-content {
    position: relative;
    width: 100%;
    max-width: 428px;
    height: 100%;
    background-color: white;
  }

  @media screen and (min-width: 1024px) {
    .web-side__banner {
      display: block;
    }
  }
}

// iOS Safe Area
@supports (padding: max(0px)) {
  .app {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .mobile-content {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

// iOS 노치가 있는 기기에서의 추가 스타일
@supports (padding: max(0px)) {
  .web-side__banner {
    padding-top: env(safe-area-inset-top);
  }
}
